@{
    ViewData["Title"] = "Chat";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/chat-page.css" />

<div class="chat-page-container">

    <div class="users-list-container">

        <div class="users-conainer">
            <div class="users-list" id="users-list"></div>
        </div>

    </div>

    <div class="chat-container">

        <div class="chat-field-container">
                <div class="chat-field" id="chat-field"></div>
        </div>

        <div class="send-message-form">
            <input type="text" class="form-control" id="message" placeholder="Your message..." aria-label="Message">
            <div class="form-group">
                <button type="submit" value="Send" class="btn btn-primary" id="send-msg-btn">Send</button>
            </div>
        </div>
        
    </div>

</div>



<script src="~/js/chat.js"></script>