@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/login-page.css" />

<div class="login-page-container">

    <div class="login-form-container">

        <form class="login-form" id="login-form" asp-action="Login">
            <input type="text" name="username" class="form-control" id="login-username" placeholder="Username" aria-label="Last name">
            <div class="form-group">
                <input type="submit" value="Join" id="login-btn" class="btn btn-primary" />
            </div>
        </form>

    </div>

</div>